body{
    margin: 0;
    padding: 0;
    background: #ebe4e4;
}
.container{
    margin-top: 150px;
    margin-left: 125px;
    width: 50%;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #c5c5c5;
}
.container>.header{
    font-size: 25px;
    text-align: center;
    color: #ece02d;
    text-shadow: 2px 2px 2px #000;
    background: #5a5757;
    padding: 10px;
    text-transform: capitalize;
}
.container-body{
    font-size: 25px;
    text-align: justify;
    padding: 5px;
}
.footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    background: #5a5757;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
}